*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.container{
    padding: 62px 200px;
}

.bg_color{
    background: linear-gradient(45deg, #1C0040 0%, #4e0062 100%);
}
.avatar{
    max-width: 24px;
    max-height: 24px;
}
.avatar_name{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
.heading{
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
    word-spacing: 1.4px;
    letter-spacing: 0.4px;
}
.heading_info{
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    word-spacing: 1.4px;
    letter-spacing: 0.4px;
    margin-bottom: 42px;
}


/* ************************   Navbar   **************************** */


header{
    position: fixed;
    width: 100vw;
    height: 70px;
    background-color: #1C0040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    z-index: 20;
    box-shadow: 0px 8px 20px #72008f79;
}
.main_logo{
    display: flex;
    align-items: center;
    transition: 0.4s;
}
.main_logo:hover{
    zoom: 1;
    color: #A259FF;
    transition: 0.4s;
    font-weight: 700;
    transform: scale(105%);
}
.main_logo:hover h1{
    zoom: 1;
    color: #A259FF;
    transition: 0.4s;
    font-weight: 700;
    transform: scale(105%);
}
header .main_logo img{
    max-width: 28px;
    max-height: 28px;
    margin-right: 12px;
}
header .main_logo h1{
    font-size: 24px;
    color: #ffffff;
    transition: 0.4s;
}
header nav ul{
    display: flex;
    margin-right: 50px;
}
header nav ul li{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: transparent;
    margin: 8px;
    padding: 8px 16px;
}
.signup_btn{
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 10px 20px;
    background-color: #A259FF;
    border-radius: 10px;
}
.signup_btn img{
    margin-right: 8px;
}
header nav ul li a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 8px;
    font-size: 18px;
    transition: 0.4s;
}
header nav ul li a:hover{
    zoom: 1;
    background-color: #A259FF;
    box-shadow: 0px 0px 30px #72008f;
    border: solid 1px #ffffff;
    transition: 0.5s;
    font-weight: 600;
    transform: scale(105%);
}



/* ************************   Hero Section   **************************** */


.hero_section{
    padding-top: 110px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    justify-content: center;
    flex-wrap: nowrap;
}




/* ********   Left   ******** */

.hero_left{
    display: grid;
    grid-gap: 10px;
    justify-content: space-between;
    margin: 12px;
    max-width: 510px;
}
.hero_title{
    font-size: 56px;
    max-width: 500px;
    color: #ffffff;
    word-spacing: 1.4px;
    letter-spacing: 0.4px;
}
.hero_para{
    font-size: 20px;
    color: #ffffff;
    word-spacing: 1.4px;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.get_started_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A259FF;
    color: #ffffff;
    width: 156px;
    height: 42px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: 0.4s;
}
.get_started_btn:hover{
    zoom: 1;
    background-color: #A259FF;
    box-shadow: 0px 0px 30px #72008f;
    border: solid 1px #ffffff;
    transition: 0.4s;
    font-weight: 600;
    transform: scale(105%);
}
.get_started_btn img{
    margin-right: 8px;
}
.additional_info{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
.additional_info_part h4{
    font-size: 24px;
}
.additional_info_part h5{
    font-size: 20px;
    font-weight: 400;
}

/* ********   Right   ******** */

.hero_right{
    margin: 12px 12px 12px 30px;
    max-width: 510px;
    background-color: #A259FF;
    border-radius: 10px;
    transition: 0.5s;
}
.hero_img{
    max-width: 510px;
    border-radius: 10px 10px 0 0;
}
.img_info{
    height: 100px;
    transition: 0.5s;
}
.hero_right:hover{
    zoom: 1;
    background-color: #A259FF;
    border: solid 1px #ffffff;
    transition: 0.5s;
    transform: scale(103%);
    box-shadow: 0px 0px 30px #72008f;
}
.img_info:hover .avatar{
    translate: 20px 0px;
    transform: scale(180%);
    transition: 0.5s;
}
.img_info:hover h3{
    translate: 30px 0px;
    font-size: 22px;
    transition: 0.5s;
}
.img_info a h4{
    margin: 0;
    padding: 0;
    font-size: 20px;
    top: 0;
    transition: 0.5s;
}
.img_info:hover a h4{
    translate: 40px 0px;
    transform: scale(120%);
    transition: 0.5s;
}
.img_info h4{
    color: #ffffff;
    margin-top: 6px;  
    font-size: 22px;
    padding-top: 6px;
    padding-left: 16px;
}
.img_info_name{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 16px;
}
.img_info_name img{
    margin-right: 8px;
    transition: 0.5s;
}
.img_info h3{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    transition: 0.5s;
}



/* ************************   Trending Collection   **************************** */


.trending_collection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.collection{
    max-width: 330px;
    margin: 10px;
}
.prime_img{
    cursor: pointer;
    transition: 0.4s;
}
.prime_img:hover{
    zoom: 1;
    border: solid 1px #A259FF;
    box-shadow: 0px 0px 30px #72008f;
    border: solid 1px #ffffff;
    transition: 0.4s;
    transform: scale(105%);
}
.secondary_imgs{
    display: flex;
    justify-content: space-between;
}
.collection .prime_img{
    border-radius: 15px;
}
.second_img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
}
.second_img_box{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.second_img_box:hover{
    zoom: 1;
    border: solid 1px #A259FF;
    border: solid 1px #ffffff;
    transition: 0.4s;
    transform: scale(110%);
}
.img_box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    font-size: 24px;
    color: #ffffff;
    outline: 1px solid #A259FF;
    transition: 0.4s;
}
.img_box:hover{
    zoom: 1;
    background-color: #A259FF;
    border: solid 1px #ffffff;
    transition: 0.4s;
    transform: scale(110%);
    box-shadow: 0px 0px 30px #72008f;
}




/* ************************   Top Rated Artists   **************************** */


.top_artists{
    display: flex;
    justify-content: space-between;
}
.view_rankings_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
    width: 156px;
    height: 42px;
    padding: 8px 20px;
    border: solid 2.4px #A259FF;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: 0.4s;
}
.view_rankings_btn:hover{
    zoom: 1;
    background-color: #A259FF;
    box-shadow: 0px 0px 30px #72008f;
    border: solid 1px #ffffff;
    transition: 0.4s;
    font-weight: 600;
    transform: scale(105%);
}



.top_artists_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.creator_card{
    margin: 10px;
    width: 200px;
    height: 200px;
    padding: 16px;
    display: grid;
    justify-items: center;
    background-color: #A259FF;
    border-radius: 15px;
    transition: 0.3s;
}
.creator_card:hover{
    zoom: 1;
    background-color: #A259FF;
    border: solid 1px #ffffff;
    transition: 0.5s;
    transform: scale(103%);
    box-shadow: 0px 0px 30px #72008f;
}
.creator_card:hover .creator_profile{
    transition: 0.3s;
    transform: scale(130%);
    translate: 0px -20px;
}

.creator_profile h4{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #1C0040;
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.creator_profile{
    transition: 0.5s;
}
.creator_profile img{
    position: relative;
}
.creator_info{
    display: grid;
    justify-items: center;
}
.creator_name{
    font-size: 24px;
    color: #ffffff;
}
.sales{
    display: flex;
    justify-content: space-between;
}
.total_sales{
    color: #d2d2d2;
    font-weight: 400;
}
.sales_fig{
    margin-left: 8px;
    font-weight: 600;
    color: #ffffff;
}




/* ************************   Browse Categories   **************************** */


.category_section{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category{
    width: 232px;
    height: 310px;
    margin: 10px;
    display: grid;
    justify-items: center;
    border: solid 1px #1C0040;
    background-color: #4e0062;
    border-radius: 20px;
    transition: 0.3s;
}
.category:hover{
    zoom: 1;
    background-color: #A259FF;
    border: solid 1px #ffffff;
    transition: 0.5s;
    transform: scale(103%);
    box-shadow: 0px 0px 30px #72008f;
}
.category_img{
    display: flex;
    justify-content: center;
}
.category_icon{
    z-index: 2;
    position: absolute;
    margin-top: 60px;
    transition: 0.3s;
}
.category:hover .category_icon{
    transition: 0.5s;
    transform: scale(130%);
    translate: 0px -20px;
}
.category_bg{
    position: relative;
    width: 232px;
    height: 232px;
    filter: blur(1px);
    transition: 0.3s;
}
.category:hover .category_bg{
    transition: 0.5s;
    filter: brightness(30%);
}
.category_typo{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}



/* ************************   Browse Categories   **************************** */


.discover_section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.discover_card{
    width: 330px;
    height: 470px;
    margin: 10px;
    border: solid 1px #1C0040;
    background-color: #A259FF;
    border-radius: 20px;
    transition: 0.3s;
}
.discover_card:hover{
    zoom: 1;
    background-color: #A259FF;
    border: solid 1px #ffffff;
    transition: 0.5s;
    transform: scale(103%);
    box-shadow: 0px 0px 30px #72008f;
}
.discover_card img{
    border-radius: 20px 20px 0 0;
}
.discover_typo{
    display: grid;
    margin: 15px;
}
.discover_typo h3{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 6px;
    transition: 0.5s;
}
.discover_name{
    display: flex;
}
.discover_name h4{
    margin-left: 8px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    transition: 0.5s;
}
.discover_name img{
    width: 24px;
    height: 24px;
    transition: 0.5s;
}
.discover_card:hover .discover_name img{
    transition: 0.5s;
    transform: scale(400%);
    translate: 50px -20px;
}
.discover_card:hover h3{
    transition: 0.5s;
    font-size: 18px;
    font-weight: 400;
    translate: 133px ;
}
.discover_card:hover h4{
    transition: 0.5s;
    font-size: 24px;
    font-weight: 700;
    translate: 100px ;
}
.discover_price{
    display: flex;
    justify-content: space-between;
}
.discover_price h5{
    color: #d2d2d2;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
}
.discover_price h6{
    color: #ffffff;
    font-size: 18px;
}



/* ************************   NFT Highlight   **************************** */


/* .nft_highlight{

}
.nft_highlight_img{
    background-image: linear-gradient(linear-gradient(0deg, #A259FF 0%, #ffffff00 100%);); 
    width: 100%;
    min-width: 100%;
    position: absolute;
}
.nft_highlight_typo{
    position: relative;
    top: 300px;
}
.nft_highlight_owner{
    display: flex;
    align-items: center;
    width: 200px;
    background-color: #1C0040;
    padding: 15px;
    border-radius: 15px;
    transition: 0.4s;
}
.nft_highlight_owner:hover{
    zoom: 1;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0px 0px 30px #72008f;
    border: solid 1px #ffffff;
    transition: 0.4s;
    font-weight: 600;
    transform: scale(105%);
}
.nft_highlight_owner img{
    width: 32px;
    height: 32px;
    transition: 0.4s;
}
.nft_highlight_owner:hover img{
    zoom: 1;
    transition: 0.4s;
    font-weight: 600;
    translate: 18px -18px;
    transform: scale(220%);
}
.nft_highlight_owner h3{
    font-size: 20px;
    font-weight: 600;
    margin-left: 8px;
    color: #ffffff;
    transition: 0.4s;
}
.nft_highlight_owner:hover h3{
    transition: 0.4s;
    font-size: 25px;
    font-weight: 700;
    translate: 40px;
    transform: scale(105%);
}
.nft_highlight h4{
    color: #ffffff;
    font-size: 56px;
    margin: 20px 0 30px 0;
}
.see_nft_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #A259FF;
    width: 156px;
    height: 42px;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.4s;
}
.see_nft_btn:hover{
    zoom: 1;
    box-shadow: 0px 0px 30px #72008f;
    transition: 0.4s;
    font-weight: 600;
    transform: scale(105%);
} */



/* ************************   NFT Highlight   **************************** */



.how_it_works_section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.how_it_works{
    display: grid;
    justify-items: center;
    width: 330px;
    height: 470px;
    margin: 10px;
    border: solid 1px #1C0040;
    background: linear-gradient(0deg, rgba(114,0,143,1) 0%, rgba(162,89,255,1) 100%);
    border-radius: 20px;
    transition: 0.5s;
}
.how_it_works:hover{
    zoom: 1;
    background: linear-gradient(0deg, rgba(162,89,255,1) 0%, rgba(114,0,143,1) 100%);
    border: solid 1px #ffffff;
    transition: 0.5s;
    transform: scale(103%);
    box-shadow: 0px 0px 30px #72008f;
}
.how_it_works:hover img{ 
    translate: 0 -10px;
    transform: scale(110%);
    transition: 0.4s;
    transform: rotate(29px);
}
.how_it_works img{
    margin-top: 15px;
    transition: 0.4s;
}
.how_it_works h3{
    color: #ffffff;
    font-size: 24px;
}
.how_it_works p{
    color: #ffffff;
    font-size: 18px;
    margin: 15px;
    text-align: center;
}




/* ************************   subscribe widget   **************************** */



.subscribe_section{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #4e0062;
    border: solid 1px #1C0040;
}
.subscribe_typo{
    display: grid;
    align-items: center;
    margin: 60px;
}
.Subscribe_astro{
    margin: 60px;
    height: 310px;
    width: 425px;
    border-radius: 20px;
}
.subscribe_section{
    color: #ffffff;
}
.subscribe_section h3{
    font-size: 42px;
    max-width: 350px;
    text-transform: capitalize;
}
.subscribe_section p{
    font-size: 20px;
    text-transform: capitalize;
}
.Subscribe_box{
    height: 60px;
    display: flex;
}
.Subscribe_box div{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A259FF;
    border-radius: 20px 0 0 20px;
}
.Subscribe_box img{
    width: 24px;
    height: 24px;
}
.Subscribe_email{
    border: 0;
    width: 0;
    padding: 0 1px;
    background-color: #4e0062;
    color: #4e0062;
    font-size: 16px;
    transition: 0.4s;
}
.Subscribe_box:hover .Subscribe_email{
    width: 200px;
    padding: 0 10px;
    background-color: #ffffff;
    transition: 0.4s;
}
.Subscribe_btn{
    border: 0;
    width: 200px;
    padding: 0 10px;
    background-color: #A259FF;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: 0.4s;
}
.Subscribe_box:hover .Subscribe_btn{
    zoom: 1;
    width: 140px;
    box-shadow: 0px 0px 30px #72008f;
    border: solid 1px #ffffff;
    transition: 0.4s;
    font-weight: 600;
    transform: scale(105%);
}



/* ************************   Footer   **************************** */



footer{
    display: grid;
    grid-gap: 20px;
}
.hr{
    margin-top: 10px;
    border: solid 1px #d2d2d2;
    opacity: 60%;
}
footer section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer h2{
    color: #ffffff;
    font-size: 24px;
}
.footer_column{
    display: grid;
    grid-gap: 20px;
    max-width: 300px;
}
.footer_column a{
    display: flex;
    color: #ffffff;
}
.footer_column a h2{
    margin-left: 10px;
}
.footer_column p{
    color: #ffffff;
    font-size: 18px;

}
.footer_icon{
    display: flex;
}
.footer_icon a img:hover{
    filter: hue-rotate(80deg);
}
.footer_icon a{
    margin-right: 10px;
}
.footer_links a{
    color: #ffffff;
}
.footer_links a:hover{
    color: #A259FF;
}
.main_logo:hover h2{
    zoom: 1;
    color: #A259FF;
    transition: 0.4s;
    font-weight: 700;
    transform: scale(105%);
}

.Subscribe_box2{
    height: 60px;
    display: flex;
    justify-content: end;
}
.Subscribe_email2{
    border: 0;
    width: 210px;
    padding: 0 10px;
    padding: 0 10px;
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
    color: #4e0062;
    font-size: 16px;
    transition: 0.4s;
}
.Subscribe_box2:hover .Subscribe_email2{
    zoom: 1;
    box-shadow: 0px 0px 30px #72008f;
    border: solid 1px #ffffff;
    transition: 0.4s;
    font-weight: 600;
    transform: scale(105%);
}
.Subscribe_btn2{
    border: 0;
    width: 120px;
    padding: 0 10px;
    background-color: #A259FF;
    color: #ffffff;
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    transition: 0.4s;
    cursor: pointer;
}
.Subscribe_box2:hover .Subscribe_btn2{
    zoom: 1;
    box-shadow: 0px 0px 30px #72008f;
    border: solid 1px #ffffff;
    transition: 0.4s;
    font-weight: 600;
    transform: scale(105%);
}

footer section p{
    color: #d2d2d2;
    font-size: 18px;
}