*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile{
    display: flex;
    padding-top: 70px;
}
.profile_bg{
    position: relative;
    width: 100vw;
    height: 330px;
}
.profile_pic{
    position: absolute;
    top: 320px;
    left: 115px;
    height: 120px;
    width: 120px;
    border-radius: 70px;
}
.id_data{
    display: grid;
    grid-gap: 20px;
}

.id_name{
    display: flex;
    justify-content: space-between;
}
.id_name h2{
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
}
.id_buttons{
    display: flex;
    justify-content: space-between;
}
.copy_id_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A259FF;
    color: #ffffff;
    width: 156px;
    height: 42px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: 0.4s;
}
.copy_id_btn:hover{
    zoom: 1;
    background-color: #A259FF;
    box-shadow: 0px 0px 30px #72008f;
    border: solid 1px #ffffff;
    transition: 0.4s;
    font-weight: 600;
    transform: scale(105%);
}
.copy_id_btn img{
    margin-right: 8px;
    height: 24px;
    width: 24px;
}
.follow_btn{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: 3px solid #A259FF;
    outline-offset: -2px;
    width: 156px;
    height: 42px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: 0.4s;
}
.follow_btn:hover{
    zoom: 1;
    background-color: transparent;
    box-shadow: 0px 0px 30px #72008f;
    outline: 1px solid #ffffff;
    transition: 0.4s;
    font-weight: 600;
    transform: scale(105%);
}
.follow_btn img{
    margin-right: 8px;
    height: 24px;
    width: 24px;
}





.stats{
    display: flex;
    justify-content: space-between;
    max-width: 510px;
    color: #fff;
}
.stats h3{
    font-size: 24px;
    font-weight: 600;
}
.stats h4{
    font-size: 20px;
    font-weight: 400;
}
.id_bio{
    display: grid;
    grid-gap: 6px;
}

.id_bio h3{
    font-size: 24px;
    font-weight: 700;
    color: #A259FF;
}
.id_bio p{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
.id_social_links{
    display: grid;
    grid-gap: 6px;
    
}
.id_social_links h3{
    font-size: 24px;
    font-weight: 700;
    color: #A259FF;
}
.id_social_link_icons{
    display: flex;
}
.id_social_link_icons a img:hover{
    filter: hue-rotate(70deg);
}
.id_social_link_icons a{
    margin-right: 10px;
}